<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="helloworld" class="com.sogl.springcore.pojo.HelloWorld" autowire="byType">
	</bean>
	
	<bean id="user"  class="com.sogl.springcore.pojo.User" init-method="doInit" destroy-method="doDestroy">
		<constructor-arg value="Sachin"></constructor-arg>
		<constructor-arg value="Tendulkar"></constructor-arg>
		<constructor-arg value="1"></constructor-arg>
	</bean>
	
	<bean id="calendar" class="java.util.Calendar" factory-method="getInstance">
	</bean>
</beans>
